<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p>Name: <var th:text="${person.getName()}"/></p>
<p>ID: <var th:text="${person.getId()}"/></p>

<p><a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit person</a></p>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<p><a href="/people">Back</a></p>
</body>
</html>